.rocket-loading-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rocket-loading-container > p{
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    color: #4D5B9E;
    animation: alternate;
    animation-name: loadingAnimation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;

}
@keyframes loadingAnimation {
    from {font-size: 40px;}
    to {font-size: 50px;}
  }
  