.quiz-section{
    min-height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.check-answer-button{
    padding: 11px 22px;
    border-radius: 15px;
    background: #4D5B9E;
    border: none;
    cursor: pointer;
    color: #F5F7FB;
    font-family: Inter;
    font-size: 16px;
}
.check-answer-button:active{
    box-shadow: inset 2px 2px 3px rgb(37, 32, 32);
}
.question-container{
    width: 35vw;
    min-width: 330px;
    display: flex;
    flex-direction: column;
}
.score-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.score-container > p{
    color: #293264;
    font-family: Inter;
    font-size: 18rem;
    font-weight: 700;
}
.warning-div{
    width: 300px;
    height: 55px;
}
.warning-div > p{
    font-family: Inter;
    color: red;
    font-size: 20rem;
}