.top-right-svg,.bottom-left-svg{
    max-width: 297px;
    max-height: 235px;
    width: 30vw;
    height: 30vh;
    position: absolute;
}
.top-right-svg{
    top: 0;
    right: 0;
}
.bottom-left-svg{
    bottom: 0;
    left: 0;
}